{% extends "template.html" %}

{% block body %}
<div style="position:sticky;top:0;z-index:2;width:100%;background-color:rgb(14, 11, 11);border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1DB954;">
  <h1 style="text-align:center; padding-top:20px;padding-bottom:10px;" class="text">TRANSFER SPOTIFY LIKED SONGS TO PLAYLIST</h1>
</div>
  <div class="center">
    <form action="login" method="GET">
      <button type="submit" class="action_button log_in_button">LOG IN WITH SPOTIFY</button>
    </form>
  </div>
{% endblock %}
